.col-form-label{
    color: aliceblue;
    margin-left: 6rem;
}

.col-auto{
    color: aliceblue;
}

.form-check{
    color: aliceblue;
    margin-left: 6rem;
    margin-top: 1rem;
}

h1{
    color: aliceblue;
    margin-top: 4rem;
    margin-left: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-control{
    margin-left: 1rem;
}

select{
    margin-left: 20rem;
}